<div class="row">
  <div class="col">
    <h4 style="padding-bottom: 20px; padding-top: 10px">Agent Info {{ type }}</h4>
  </div>
</div>

<div class="row" *ngFor="let item of agents | keyvalue">
  <div class="col-2" style="margin: 10px">
    {{ item.key }}: {{ item.value }}
  </div>
  <div class="col" style="margin: 10px">
    <span style="color: red;"><i class="fas fa-times-circle" (click)="terminate_agent(item.key)"></i></span>
  </div>
</div>

<div class="row">
  <div class="col">
    <br>
    <button (click)="get_home()" class="btn btn-dark btn-sm" > Home</button>
  </div>
</div>
