<!--<div class="row">-->
<!--  <div class="col">-->
<!--<div id="agent-info"> &lt;!&ndash;klappt&ndash;&gt;-->
<!--<div class="row mh-100 overflow-auto"> &lt;!&ndash;klappt&ndash;&gt;-->
<!--<div class="mh-100">-->
<!--  <div style="max-height: 25%">-->
<h6 style="padding-top: 5px; padding-bottom: 5px;"><b>Agent Info {{ type }}:</b></h6>
<!--  </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="test2">-->
<!--<div id="agent-info"> &lt;!&ndash;klappt&ndash;&gt;-->
<!--<div class="mh-75 overflow-auto">-->
  <div class="mh-75 overflow-auto" style="max-height: 70%"> <!--warum klappt das nicht nur mit mh-75 ohne extra nochmal style max-height anzugeben? -->
    <div class="row" style="margin: 2px" *ngFor="let item of agents | keyvalue">
      <div class="col-1">
        <span style="color: red;"><i class="fas fa-times-circle" (click)="terminate_agent(item.key)"></i></span>
      </div>
      <div class="col">
        {{ item.key }}: {{ item.value }}
      </div>
    </div>
  </div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <br>-->
<!--    <button (click)="get_home()" class="btn btn-dark btn-sm" > Home</button>-->
<!--  </div>-->
<!--</div>-->

