statsmodels==0.11.1
joblib==0.14.1
requests==2.22.0
Flask_Cors==3.0.8
numba==0.48.0
psutil==5.7.0
windpowerlib==0.2.0
pvlib==0.7.2
plotly==4.8.1
pymongo==3.9.0
pika==1.1.0
Flask==1.1.1
Keras==2.3.1
pandas==0.25.3
numpy==1.18.1
matplotlib==3.1.3
influxdb==5.2.3
pypsa==0.17.0
pyswarm==0.6
xlrd==1.1.0
scikit_learn==0.23.1
pip~=20.0.2
zlib~=1.2.11
wheel~=0.34.2
openssl~=1.1.1g
cryptography~=2.8
sklearn~=0.0
scikit-learn~=0.23.1
shapely~=1.7.0
scipy~=1.4.1