<!-- agent-info.component.html
|   Info: Config-Agents Komponente
|   Typ: HTML Code
|   Inhalt: Konfiguration der Agenten (Server IP, Bereich, Buttom zum Terminieren aller Agenten, Anzahl der laufenden Agenten) je nach Agent Typ.
-->

<!-- Agent Options -->
<div class="row" id="config-agents-container">
  <div class="col-6 mh-100">
    <h6 style="padding-top: 5px; padding-bottom: 0px;"><b>{{ type }}-Agent Options:</b></h6>
    <!-- Input Boxes for Agent Options-->
    <div class="row">
      <div class="col-4" *ngFor="let item of config | keyvalue">
          {{ item.key }}:
          <input type="text" [(ngModel)]="item.value" (blur)="this.update_config(item.key, item.value)">
      </div>
    </div>
    <div class="row">
      <!-- +++++ buttons left hand side +++++ -->
      <div class="col-4 btn-group" style="padding-right: 3%">
        <button (click)="service.set_config(this.config, this.type)" class="btn btn-dark btn-sm"> Submit</button>
        <button (click)="service.start_agents(this.type)" class="btn btn-dark btn-sm"> Start</button>
        <button (click)="service.terminate_agents(this.type)" class="btn btn-dark btn-sm"> Stop</button>
      </div>
      <!-- +++++ buttons right hand side +++++ -->
      <div class="col-4 btn-group" style="padding-right: 3%">
        <button (click)="this.get_running_agents()" class="btn btn-dark btn-sm"> Refresh</button>
        <button (click)="service.get_info(this.type)" class="btn btn-dark btn-sm"> Info</button> <!-- TODO: make button show running agents in extra div/page -->
      </div>
      <b class="ml-auto" style="padding-top: 2%; padding-right: 5%"> total running: {{ this.number }} </b>
    </div>
  </div>

  <!-- Running Agent Info Preview -->
  <div class="col-6 mh-100">
    <!-- TODO: Only show, if Info Button is clicked? -->
    <app-info [type]=this.type> </app-info>
  </div>

</div>

<!--<p>config-agents works!</p>-->
