<!DOCTYPE html>
<html>
<head lang="en">
    <title>Grid View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/67f790f34e.js" crossorigin="anonymous"></script>
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(function(){
            var h = 0

            $("#v").click(function(){
                $.post("http://127.0.0.1:6010/test",{hour:h, start: $("#start").val()},function(data){
                    $("#tmp").html(data);
                });
                h = h + 1
                if (h > 23){h=0}
            });

            $("#z").click(function(){
                $.post("http://127.0.0.1:6010/test",{hour:h, start: $("#start").val()},function(data){
                    $("#tmp").html(data);
                });
                h = h - 1
                if (h < 0){h=23}
            });

        });
    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
                <div class="col">
                    <span style="color: #f8f9fa; "> <label>Start:</label><br></span>
                        <input class="btn btn-warning btn-sm" id="z" type="submit" value="<--">
                        <input id="start" max="2030-12-31" min="2018-01-01" name="start" type="date" value="2019-01-01">
                        <input class="btn btn-warning btn-sm" id="v" type="submit" value="-->">
                </div>
            <div class="col-9">
                <div id="tmp">
                <div class="chart" id="gridModel">
                  <script>
                      var graphs = {{plot | safe}};
                      Plotly.plot('gridModel',graphs,{});
                  </script>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>