<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <title>MAS FH Aachen</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/67f790f34e.js" crossorigin="anonymous"></script>
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--Style Elements-->
    <style>
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
        .solid {
            border-style: solid;
        }
         .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
        .navChart {
            width: 100px;
        }
        body { margin: 0; padding: 10; }
	    #map { position: absolute; top: 0; bottom: 0; width: 90%; }
    </style>

    <!--Script Elements-->
    <script>
        $(document).ready(function(){
           $("#run").click(function(){$.post("run",{start: $("#start").val(),end: $("#end").val()},function(data){});});
                var dem = false
                var pwp = false
                var res = false
                var str = false
                var net = false

                $(function(){
                    $("#slider-range").slider({
                        range: true,
                        min: 0,
                        max: 99,
                        values: [ 40, 45 ],
                        slide: function(event, ui){$( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ]);}
                });
            $("#amount").val($("#slider-range").slider("values", 0) +" - " + $("#slider-range").slider("values", 1));});

            $("#start_area").click(function(){
                if($("#dem").prop("checked")==true){
                    dem = true
                }
                 if($("#pwp").prop("checked")==true){
                    pwp = true
                }
                 if($("#res").prop("checked")==true){
                    res = true
                }
                if($("#str").prop("checked")==true){
                    str = true
                }
                if($("#net").prop("checked")==true){
                    net = true
                }
            });

            $("#start_area").click(function(){$.post("build/start",
                {start: $("#slider-range").slider("values", 0),
                 end:   $("#slider-range").slider("values", 1),
                 dem:   dem,
                 pwp:   pwp,
                 res:   res,
                 str:   str,
                 net:   net},
                 function(data){});});

        });
    </script>

</head>
<body>
    <!--Container for Header-->
	<div class="container-fluid bg-dark text-light">
		<div class="row">
            <div class="col-11">
                <br>
                <div class="row">
                    <div class="col"><h3>MAS zur Anlayse des Energieversorgungssystems</h3></div>
                </div>
                <div class="row">
                    <div class="col"> <p>Fachhochschule Aachen</p> </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col">
                        <span style="color: #f8f9fa; "> <label>Start:</label><br></span>
                        <input id="start" max="2030-12-31" min="2018-01-01" name="start" type="date" value="2018-01-01">
                    </div>
                    <div class="col">
                        <span style="color: #f8f9fa; "><label>End:</label><br></span>
                        <input id="end" max="2030-12-31" min="2018-01-02" name="end" type="date" value="2018-01-10">
                    </div>
                    <div class="col">
                        <span style="color: #f8f9fa; "><label></label><br></span>
                        <input class="btn btn-warning btn-sm" id="run" type="submit" value="Run Simulation">
                    </div>
                </div>
            </div>
            <div class="col-1 nopadding">
                <img class="border-white" src="../static/fh_logo.png" height="175" align="right">
            </div>
        </div>
    </div>
    <!--Container for Content-->
    <div class="container-fluid bg-light text-dark">
        <!-- First Row -->
        <div class="row bg-light" id="content">
            <div class="col bg-dark" id="left-menu1">
                <nav class="navbar-dark">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <div id="nav-powerplant" style="text-align: center;">
                            <a class="nav-link">
                                <input type="checkbox" class="form-check-input" id="pwp" value="" checked>
                                <label for="pwp" style="float:left;">Konventionelle Kraftwerke</label><br>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <center id="nav-solar">
                            <a class="nav-link">
                                <input type="checkbox" class="form-check-input" id="res" value="" checked>
                                <label for="res" style="float:left;">Erneuerbare Energien</label><br>
                            </a>
                        </center>
                    </li>
                    <li class="nav-item">
                        <div id="nav-demand" style="text-align: center;">
                            <a class="nav-link">
                                <input type="checkbox" class="form-check-input" id="dem" value="1" checked>
                                <label for="dem" style="float:left;">Stromnachfrage</label><br>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="nav-storage" style="text-align: center;">
                            <a class="nav-link">
                                <input type="checkbox" class="form-check-input" id="str" value="1" checked>
                                <label for="str" style="float:left;">Speicherkraftwerke</label><br>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="nav-storage" style="text-align: center;">
                            <a class="nav-link">
                                <input type="checkbox" class="form-check-input" id="net" value="1" checked>
                                <label for="str" style="float:left;">Lastfluss</label><br>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="nav-build" style="text-align: center;">
                            <a class="nav-link">
                                <input class="btn btn-warning btn-sm" id="start_area" type="submit" value="Start Agents">
                            </a>
                        </div>
                    </li>
                  </ul>
                </nav>
            </div>
            <div class="col-9" id="middle">
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="amount">Start Agents:</label><br><br>
                        <input id="amount" readonly style="border:0; color:#04B4AE; font-weight:bold;" type="text">
                        <div id="slider-range"></div>
                    </div>
                    <div class="col">
                        <a href=""> <input class="btn btn-danger btn-sm" id="reload" type="submit" value="Reload"></a>
                    </div>
                </div>
                <br>
                <div class="row">
                <div class="col-5">
                    <img class="img-thumbnail" height="75" src="../static/5.png" width="50"> <b>Anzahl: {{num[0]}}</b> <br><br>
                    <img class="img-thumbnail" height="75" src="../static/2.png" width="50"> <b>Anzahl: {{num[1]}}</b> <br><br>
                    <img class="img-thumbnail" height="75" src="../static/12.png" width="50"> <b>Anzahl: {{num[2]}}</b> <br><br>
                    <img class="img-thumbnail" height="75" src="../static/16.png" width="50"> <b>Anzahl: {{num[3]}}</b> <br><br>
                </div>
                </div>
            </div>
            <div class="col-1" id="right"></div>
        </div>

        <div class="row bg-light"><p></p></div>
    </div>
</body>
</html>