<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <title>MAS FH Aachen</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/67f790f34e.js" crossorigin="anonymous"></script>
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--Style Elements-->
    <style>
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
        .solid {
            border-style: solid;
        }
         .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
        .navChart {
            width: 100px;
        }
        body { margin: 0; padding: 10; }
	    #map { position: absolute; top: 0; bottom: 0; width: 90%; }
    </style>

    <!--Script Elements-->
    <script>
        $(document).ready(function(){
            $("#run").click(function(){$.post("run",{start: $("#start").val(),end: $("#end").val()},function(data){});});

            var net = true
            var mrk = true

            $("#build").click(function(){
                if(Number($("#net_start").val()) == 0){
                    net = false
                }
                if(Number($("#mrk_start").val()) == 0){
                    mrk = false
                }
            });

            $("#build").click(function(){$.post("build",
                {pwp_ip:        $("#PWP_host").val(),
                 pwp_start:     $("#PWP_start").val(),
                 pwp_end:       $("#PWP_end").val(),
                 res_ip:        $("#RES_host").val(),
                 res_start:     $("#RES_start").val(),
                 res_end:       $("#RES_end").val(),
                 dem_ip:        $("#DEM_host").val(),
                 dem_start:     $("#DEM_start").val(),
                 dem_end:       $("#DEM_end").val(),
                 str_ip:        $("#STR_host").val(),
                 str_start:     $("#STR_start").val(),
                 str_end:       $("#STR_end").val(),
                 net_ip:        $("#NET_host").val(),
                 mrk_ip:        $("#MRK_host").val(),
                 mrk_end:       mrk,
                 net_end:       net},
                 function(data){});});

            $("#conf").click(function(){$.post("change_config",
                {database:       $("#database").val(),
                 mongodb:       $("#mongodb").val(),
                 influxdb:      $("#influxdb").val(),
                 rabbitmq:      $("#rabbitmq").val(),
                 exchange:      $("#exchange").val(),
                 suffix:        $("#suffix").val(),
                 reset:         $("#reset").val()},
                 function(data){});});
        });
    </script>

</head>
<body>
    <!--Container for Header-->
	<div class="container-fluid bg-dark text-light">
		<div class="row">
            <div class="col-11">
                <br>
                <div class="row">
                    <div class="col"><h3>MAS zur Anlayse des Energieversorgungssystems</h3></div>
                </div>
                <div class="row">
                    <div class="col"> <p>Fachhochschule Aachen</p> </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col">
                        <span style="color: #f8f9fa; "> <label>Start:</label><br></span>
                        <input id="start" max="2030-12-31" min="2018-01-01" name="start" type="date" value="2018-01-01">
                    </div>
                    <div class="col">
                        <span style="color: #f8f9fa; "><label>End:</label><br></span>
                        <input id="end" max="2030-12-31" min="2018-01-02" name="end" type="date" value="2018-01-10">
                    </div>
                    <div class="col">
                        <span style="color: #f8f9fa; "><label></label><br></span>
                        <input class="btn btn-warning btn-sm" id="run" type="submit" value="Run Simulation">
                    </div>
                </div>
            </div>
            <div class="col-1 nopadding">
                <img class="border-white" src="../static/fh_logo.png" height="175" align="right">
            </div>
        </div>
    </div>
    <!--Container for Content-->
    <div class="container-fluid bg-light text-dark">
        <!-- First Row -->
        <div class="row bg-light" id="content">
            <div class="col bg-dark text-light" id="left-menu1">
                <nav class="navbar-dark">
                    <ul class="navbar-nav">
                        {% for key, value in agents.items() %}
                        <li class="nav-item">
                            <div style="text-align: left;">
                                <img class="img-thumbnail" height="50" src="../static/{{key}}.svg" width="50"><b> {{key}} connected: {{value}} </b> <br><br>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="nav-item">
                            <div id="nav-reload" style="text-align: center;">
                                <a href=""> <input class="btn btn-danger btn-sm" id="reload" type="submit" value="Reload"></a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-9" id="middle">
                <br>
                <div class="row">
                    <div class="col-6">
                        <h4>Configuration Agents</h4>
                        <form>
                            {% for key, value in agent_conf.items() %}
                            <div class="form-row">
                                <div class="form-group col-1">
                                    <br>
                                    <img class="img-thumbnail center" height="40" src="../static/{{key}}.svg" width="40">
                                     <br>
                                </div>
                                {% for name, attribute in value.items() %}
                                <div class="form-group col-3">
                                    <label for="{{key}}_{{name}}">{{name}}:</label>
                                    <input type="text" class="form-control form-control-sm" id="{{key}}_{{name}}" value={{attribute}}>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </form>
                        <input class="btn btn-dark btn-sm" id="build" type="submit" value="Submit"><br><br>
                    </div>
                    <div class="col-6">
                        <h4>Configuration Server & Infrastructure</h4>
                        <form>
                            {% for key, value in system_conf.items() %}
                            <div class="form-group">
                                <label for={{key}}>{{ key }}:</label>
                                <input type="text" class="form-control form-control-sm" id="{{key}}" value={{value}}>
                            </div>
                            {% endfor %}
                        </form>
                        <input class="btn btn-dark btn-sm" id="conf" type="submit" value="Submit">
                    </div>
                </div>
                <br>
            </div>
            <div class="col-1" id="right"></div>
        </div>
        <div class="row bg-light"><p></p></div>
    </div>
</body>
</html>