<script>
    function toDo(elem) {
            $.post("kill_agent_x", // Verbindung zu @app.route('/kill_agent_x')
                                  {agent:       elem.value}, //Daten, die geschickt werden (hier: Agent, für dem Daten abgerufen werden sollen)
                                  function(data){$("#middle").html(data);}); //Element mit id "middle" über jQuery html() Method mit data aus GET updaten
        };
</script>

<h4>Agent Info Page for: {{agent_type}}</h4>
<h5>Running Agents:</h5>
<!--{{agents}}-->
{% for key, value in agents.items() %}
{{key}} @ {{value}} <button type="button" onclick="toDo(this)" id="btn_{{key}}" value="{{key}}"><span style="color: red;"><i class="fas fa-times-circle"></i></span></button><br>
{% endfor %}
<!--<button style="display: none;" type="button" onclick="get_agent_info(this)" id="btn_{{key}}" value="{{key}}"><span style="color: red;"><i class="fas fa-times-circle"></i></span></button><br>-->
<!--<button type="button" onclick="get_agent_info(this)" id="btn_{{key}}" value="{{key}}"><span style="color: red;"><i class="fas fa-times-circle"></i></span></button><br>-->
<!--<span style="color: red;"><i style="cursor: pointer;" onclick="toDo(this)" id="btn_kill_{{key}}" value="{{key}}" class="fas fa-times-circle"></i></span><br>-->
