attrs==21.2.0
Bottleneck
brotlipy==0.7.0
certifi==2021.10.8
cffi
cfgrib==0.9.9.1
charset-normalizer
click==8.0.3
cryptography
eccodes==1.3.3
findlibs==0.0.2
idna
influxdb==5.3.1
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
msgpack==1.0.2
numexpr
numpy
pandas==1.3.4
pycparser
pygrib
pyOpenSSL
pyproj
pyshp
PySocks
python-dateutil
pytz==2021.3
requests
Shapely
six
typing-extensions
urllib3==1.26.7
xarray
